.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1rem;
  width: 150px;
  background-color: #ff6347;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.btn {
  background: #ffbf00;
  border: none;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #fbff00;
}
