body {
  background-image: url(../../image/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 900px) {
  body {
    background-image: url(../../image/bg.png);
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70%;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}
