.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.hamburgueria-title {
  font-family: "Rock Salt", cursive, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.search-container {
  display: flex;
  margin-bottom: 2rem;
  height: 5vh;
}
.input {
  border-radius: 1rem;
  outline: none;
  width: 250px;
  height: 50px;
  border: none;
}
#btn {
  width: 50px;
  height: 52px;
  border-radius: 1rem;
  margin-left: -50px;
  border: none;
  background-color: #ffbf00;
}
.sale-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.281);
}

.sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.sale-value {
  align-self: flex-end;
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.281);
}

@media screen and (min-width: 900px) {
  .hamburgueria-title {
    font-size: 4rem;
  }
  .input {
    width: 350px;
    border: none;
    line-height: 30px;
    height: 50px;
    font-size: 1.2rem;
  }

  #btn:hover {
    cursor: pointer;
    background-color: #fbff00;
  }

  .sale {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sale-value {
    font-size: 3rem;
  }

  .sale .main {
    margin-right: 5rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
